.nuevo {
    Height: 50px;
    width: 50px;
    content:url("../notas/Imagenes/new.png");
}

.nuevo:hover {
    
    cursor: pointer;
    width: 51px;
    box-shadow:0px 3px 0px #266792;
}

.editar{
    Height: 25px;
    width: 25px;
    content:url("../notas/Imagenes/edit-pencil.ico");
}

.editar:hover {
    width: 30px;
    height: 30px;
    box-shadow:0px 3px 0px #829226;
}


.delete {
    Height: 30px;
    width: 25px;
    content:url("../notas/Imagenes/delete.png");
}

.delete:hover {
    width: 30px;
    cursor: pointer; 
    box-shadow:0px 3px 0px #829226; 
}
