<div class="card border-primary mt-1 mb-1">
    <div class="card-header">El Instituto</div>
    <div class="card-body text-justify">
        <p>Desde 1990, el Instituto Raúl Scalabrini Ortiz brindo formación de
            nivel superior con la carrera de formación de Analistas de Sistemas de Computación (R.M.
            445/81). El Instituto propone impartir a partir del ciclo lectivo 2011 el plan de estudio de
            Analistas de Sistemas Res Nº 599/MEGC/10. <br> Consideramos como un imperativo institucional el
            acceso y la renovación de los conocimientos y de las credenciales educativas para incorporarse,
            permanecer y crecer en el mundo del trabajo y en la sociedad, que requiere además propiciar
            nuevas formas de enseñanza y de aprendizaje- cooperativo, de gestión del conocimiento y la
            información desde un enfoque interdisciplinario y fundamentalmente proactivo. <br> Desde nuestro
            ideario brindar posibilidades de capacitación, de reconversión laboral con la correspondiente
            posibilidad de titulación de los trabajadores que se desempeñan con idoneidad y carecen de
            certificación y de preparación teórico/práctica sistemática que les asegure el ejercicio de su
            labor con mayor ductilidad y creatividad (exigencias hoy del mercado laboral) constituye la
            razón de ser y nuestro fundamento que desde la Secretaría de Cultura y Capacitación del
            Sindicato Empleados de Comercio de la Capital Federal se despliega en diversas posibilidades
            educativas, una de ellas la que cumple el Instituto Raúl Scalabrini Ortiz (A-859).</p>
    </div>

    <div class="row">      
        <div class="accordion col-8" id="Acordeon">
            <div class="card ml-3">
                <div class="card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                    Inscribite
                </div>
                    
                <div id="collapseOne" class="collapse"  data-parent="#Acordeon">
                    <p class="card-body text-justify">Para inscribirte como alumno regular deberás presentar:</p>
                    <ul>
                       <li>Fotocopia del Documento Nacional de Identidad.</li>
                       <li>Fotocopia de la Partida de Nacimiento.</li>
                        <li>2 fotos carnet (4 x 4).</li>
                        <li>Completar la ficha de inscripción.</li>
                        <li>En el caso de ingresar en el nivel secundario: certificado original de 7º grado.</li>
                        <li>En el caso de ingresar en el nivel superior: fotocopia del título secundario, trae el                                original.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mr-3">
                <div class="card-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" >
                    El Clima Hoy
                </div>
                <div id="collapseTwo" class="collapse"  data-parent="#Acordeon">
                    <p>lalalalala</p>
                </div>
            </div>               
        </div> 
    </div>          
</div>  

